---
layout: default
---
{% assign image_asset_path = '/uploads/'%}
{% assign posts = site.posts | sort:"weight" %}
{% for post in posts %}
{% unless post.draft %}
<article itemscope itemtype="http://schema.org/BlogPosting">
  {% assign images = post.images %}
  {% for image in images %}
    {% if image contains "http://" or image contains "https://" %}
    <img src="{{ image }}" alt=""/>
    {% else %}
    <img src="{{ image | prepend: image_asset_path }}" alt=""/>
    {% endif %}
  {% endfor %}
  {{ post.content }}
</article>
{% endunless %}
{% endfor %}
